# Model Building requirements
flask >= 1.1.2
pandas >= 1.0.4
numpy >= 1.18.1
joblib >= 0.14.1
keras >= 2.3.1
opencv-python-headless >= 4.3.0
werkzeug >= 0.16.1

# testing requirements
pytest >= 5.4.3

# packaging
setuptools >= 41.6.0
wheel >= 0.33.6

# schema validation
marshmallow==2.17.0

# deployment
gunicorn == 19.9.0
